<div class='form-wrap'>
  <div class='form-header'>
    <h2 class="form-header-text">登録が完了しました</h2>
  </div>
  <div class="form-area">
    <div class="form-text-area">
      <%= link_to 'エンジニアとのマッチングを始める', root_path, class:"match-path" %>
    </div>
  </div>
</div>