<% if user.id != current_user.id %>
  <%# <li class="collection-item"> %>
    <% unless current_user.following?(user) %>
      <div class="action-blue">
        <%= link_to 'フォローする', follow_user_path, method: :put, class: "btn-click", id: "follow", remote: true %>
      </div>
    <% else %>
      <div class="action-red">
        <%= link_to 'フォロー解除', unfollow_user_path, method: :put, class: "btn-click", id: "follow-clear", remote: true %>
      </div>
    <% end %>
  <%# </li> %>
<% end %>