<div class="rooms">
  <div class="user-info">
    <div class="user-name"><a href="/">〇〇さん</a></div>
    <div class="user-talk"><a href="/">トークする</a></div>
  </div>
    <div class="user-info">
    <div class="user-name"><a href="/">〇〇さん</a></div>
    <div class="user-talk"><a href="/">トークする</a></div>
  </div>
    <div class="user-info">
    <div class="user-name"><a href="/">〇〇さん</a></div>
    <div class="user-talk"><a href="/">トークする</a></div>
  </div>
</div>