<div class="rooms">
  <% @users.each do |u| %>
  <%# <% if u.user.id != @entry.user.id %> 
  <div class="user-info">
    <div class="user-name"><a><%= u.name%>さん</a></div>
    <%= link_to user_path(u.id) do %>
    <div class="user-talk">トークする</div>
    <% end %>
  </div>
  <% end %>
  <%# <% end %> 
</div>