<div class="rooms">
  <% @users.each do |u| %>
  <%# <% if u.user.id != @entry.user.id %> 
  <div class="user-info">
    <div class="user-name"><a><%= u.name%>さん</a></div>
    <div class="user-talk"><%= link_to 'トークする', user_path(u.id) %></div>
  </div>
  <% end %>
  <%# <% end %> 
</div>