<div class="registration-main">
<div class='form-wrap'>
  <div class='form-header'>
    <h2 class="form-header-text">更新が完了しました</h2>
  </div>
  <div class="form-area" id="timeline-update">
    <div class="form-text-area">
      <%= link_to 'タイムライン一覧に戻る', posts_path, class:"match-path" %>
    </div>
  </div>
</div>
</div>