.form-wrap {
  width: 50%;
  background-color: white;
}

.post-area{
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 20px;
}

.tag-area{
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 20px 20px 5px 20px;
}

.long-post-area{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.form-text-area{
  padding-right: 15px;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.post-box{
  width: 90%;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 18px;
  resize: none;
  margin: 5px 0 0 auto;
}

.input-text{
  width: 100%;
  margin-top: 5px;
  height: 140px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.indispensable{
  background:	#FF3F00;
  color: #fff;
  font-size: 12px;
  padding: 3px;
  border-radius: 2px;
}

.optional{
  background: #7F7F7F;
  color: #fff;
  font-size: 12px;
  padding: 3px;
  border-radius: 2px;
}

.schedule-area{
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.time-area{
  margin-right: 50px;
}

.end-time{
  padding-left: 20px;
}

.post-content{
  margin: 0 auto;
  margin-bottom: 50px;
  width: 80%;
  text-decoration: none;
  padding: 10px 20px;
  background: #f7f7f7;
  border-left: solid 6px#668ad8;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.post-headline{
  display: flex;
  justify-content: space-between;
}

.post-title{
  font-size: 24px;
}

.more-list{
}

.post-text{
  padding: 20px 0;
}

.under-line{
  border-bottom: solid 2px #7F7F7F;
}

.post-detail{
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
}

.post-user-tag{
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.user-name{
  color: #1111cc;
}

.post-tag{
  display: inline-block;
}

.edit-btn {
  display: inline-block;
  position: relative;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000;
  transition: .4s;
  margin-right: 10px;
}
.edit-btn:hover {
  color: #4169e1;
}
.edit-btn:before, .edit-btn:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.edit-btn:before {
  border-left: solid 1px #4169e1;
  border-top: solid 1px #4169e1;
  border-bottom: solid 1px #4169e1;
  left: 0;
}
.edit-btn:after {
  content: '';
  border-top: solid 1px #4169e1;
  border-right: solid 1px #4169e1;
  border-bottom: solid 1px #4169e1;
  right: 0;
}

.delete-btn {
  display: inline-block;
  position: relative;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000;
  transition: .4s;
}
.delete-btn:hover {
  color:#ff7f7f;
}
.delete-btn:before, .delete-btn:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.delete-btn:before {
  border-left: solid 1px #ff7f7f;
  border-top: solid 1px #ff7f7f;
  border-bottom: solid 1px #ff7f7f;
  left: 0;
}
.delete-btn:after {
  content: '';
  border-top: solid 1px #ff7f7f;
  border-right: solid 1px #ff7f7f;
  border-bottom: solid 1px #ff7f7f;
  right: 0;
}

#tag-area{
  text-align: right;
}

#search-result{
  background-color: #f0f8ff;
  margin-top: 25px;
  margin-right: 25px; 
  display: inline-block;
  width: 200px;
}

#search-result #parents .child{
  text-align: left;
  padding: 5px 10px;
  border-bottom: solid 1px gray;
  cursor: pointer;
}

#timeline-update{
  padding-bottom: 50px;
}